.App {
  padding: 30px;
  display: flex;
  background: aqua;
}

.App > div {
  margin-right: 50px;
}

button {
  margin-left: 3px;
  border-color: gold;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

li {
  list-style-type: decimal;
}
li::before {
  content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
  padding-right: 5px; /* Расстояние от маркеров до текста */
  color: red;
}

input {
  border-radius: 3px;
  border-color: midnightblue;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

input:focus{
  border: 3px solid red;
  box-shadow: 1px 1px 2px 0 red;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
